.main-index {
    background-image: url(https://pbs.twimg.com/media/FA2ZVOpVgAAtjku.jpg:large);

}

article {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

p {
    color: brown;
    text-decoration: underline;
    text-align: center;
}

.subrayado-mayuscula {
    text-decoration: underline;
    text-transform: uppercase;
}

/* mobile first index */
.audio {
    margin: auto;
}

.imgtodas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
        "imagen-grande"
        "sanjiimg"
        "zoroimg"
        "chopperimg"
        "frankyimg"
        "audio"
    ;
    max-width: 1000px;
    margin: auto;
}


.chopperimg {
    grid-area: chopperimg;
    background-image: url("../recursos/chopper-1.webp");
    background-size: cover;
}

.frankyimg {
    grid-area: frankyimg;
    background-image: url("../recursos/franky.webp");
    background-size: cover;
}

.zoroimg {
    grid-area: zoroimg;
    background-image: url("../recursos/zoro.jpeg");
    background-size: cover;
}