.main-index {
    background-image: url(https://pbs.twimg.com/media/FA2ZVOpVgAAtjku.jpg:large);
    // background-image: linear-gradient(blue,yellow,blue,yellow);

}

article {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

p {
    color: brown;
    text-decoration: underline;
    text-align: center;
}

.subrayado-mayuscula {
    text-decoration: underline;
    text-transform: uppercase;
}

/* mobile first index */
.audio {
    margin: auto;
}

.imgtodas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
        "imagen-grande"
        "sanjiimg"
        "zoroimg"
        "chopperimg"
        "frankyimg"
        "audio"
    ;
    max-width: 1000px;
    margin: auto;
}


@media (min-width: 600px) {
    .imgtodas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "imagen-grande imagen-grande sanjiimg zoroimg"
            "imagen-grande imagen-grande chopperimg frankyimg";
    }

}