.giftzoro {
    grid-area: giftzoro;
    background-image: url("../recursos/one-piece-episode-1062-gifs-v0-1ftc509pmw8b1.gif");
    background-size: cover;
}

.espadazoro {
    grid-area: espadazoro;
    background-image: url("../recursos/roronoa-zoro.jpg");
    background-size: cover;
}

.muchasespadas {
    grid-area: muchasespadas;
    background-image: url("../recursos/tercera-imagen-zoro.webp");
    background-size: cover;
}

.todozoro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas:
        "giftzoro"
        "espadazoro"
        "muchasespadas"
    ;
    max-width: 1000px;
    margin: auto;
}




.zoroimg {
    grid-area: zoroimg;
    background-image: url("../recursos/zoro.jpeg");
    background-size: cover;
}